@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-600: #00b3ad;
  --color-500: #00ded1;
  --color-700:#008e8a ;
  --color-800: #007070;
  --color: #04e790 #00bd72 #01945d #07744b;
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

@font-face {
  src: url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Dela+Gothic+One&display=swap');
}

@layer components {
  .card {
    @apply rounded-xl shadow-lg
  }
  body {
    @apply bg-[#ecf0f3] tracking-wide
  }
  h2 {
    @apply text-center tracking-widest font-bold mt-20 text-3xl md:text-5xl font-dela text-sky-600 mb-12;
  }
}

form > div {
  @apply flex flex-col gap-2;
}

input,
textarea {
  @apply shadow-md px-6 py-2 border border-slate-300;
}
Link {
  @apply pb-6 text-lg font-semibold text-gray-900 py-2 md:px-6 text-center border-b-2 md:border-b-0   hover:bg-orange-600  border-orange-700  md:hover:text-orange-600 md:hover:bg-transparent
}